html, body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-family: serif;
	font-size: 50px;
	margin-top: 0px ;
	color: black;
}

header {
	background-color: black;
	height: 100vh;
}

main {
	background: gray;
	height: 100px;
}

footer {
	background-color: #fff;
	height: 200px;
}

#logo {
	margin: 0px auto;
	position: absolute;
}

#logo img {
	float: left;
	margin: 5px;
	width: 150px;
	margin-left: 20px;
}


nav {
	background-color: #3F3836;
	height: 100px;
}

nav ul{
	width: 1020px;
	margin: 0px auto;
}

nav ul li {
	width: 300px;
	list-style-type: none;
	float: left;
	text-align: center;
	line-height: 100px;
	font-size: 25px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	
}

nav ul li a:hover,
nav ul li a:active {
	color: #C8C8C8;
	border-bottom: 2px solid #C8C8C8;
	transition: 0.15s;
}

.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.46);
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.sidebar li{
	width: 100%;
}
.sidebar a{
	width: 100%;
}

@media (min-width: 1260px){
	.hideSbar{
		display: none;
	}
}

@media (max-width: 1260px){
	.hideOnMobile{
		display: none;
	}
	.Sbar{
		align-items: center;
	}
}

